
<div class="information animate__animated animate__fadeInLeft  animate__faster	500ms ">
   <div class="title text-center mb-4">
    <h3 >Esta es un repaso de como se creo esta aplicación y cual es su función</h3>
   </div>
   <div class="components">
       <h4 class="text-center">Estos son los componentes usados</h4>
       <ul>
           <li>Componente Aside</li>
           <li>Componente Jobs</li>
           <li>Componente People</li>
           <li>Componente About</li>
       </ul>
   </div>
   <div class="services text-center">
    <h4>como esta consumiendo las apis esta aplicación?</h4>
     <span><p>Estamos utilizando el httpClient para consumir la información de las apis de Jobs y Peoples </p></span>
   </div>
   <div class="tecnologias ">
    <h4 class="text-center">Otras tecnologias utilizadas</h4>
      <ul>
          <li>Angular CDk (Virtual Scroll)</li>
          <li>Animate CSS</li>
          <li>Bootstrap</li>
          <li>Angular Rounting</li>
      </ul>
   </div>
   <div class="funciones text-center">
    <h4>Qué es capaz de hacer esta aplicación?</h4>
     <span><p>Esta aplicación funciona consumiendo recursos de apis externas de esta manera podemos utilizar su información. 
           En esta aplicación podemos acceder a la lista de trabajos que se muestra en la pestaña de Jobs,  la lista de personas
           que se muestra en la pestaña de Peoples ademas de poder ver a datalle su información y finalmente tenemos la sección de About que nos muestra una pequeña idea de como
           se creo esta aplicación      
          </p></span>
   </div>
</div>